html, body{
  height:100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  margin-top:-50px;
  width:100%;
}
header nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:0px;
}

#wb-sm  {
  background: rgba(0, 67, 0, 0.8);;
}
#highlights {
  background-color: rgba(0, 74, 123, 1);
}
#highlights h3 {
  text-align: center;
}
#highlights img {
  margin: auto;
}
#art {
  padding-bottom:50px;
    min-height: 400px;
      background-image: url("../img/art/pencils.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-attachment: fixed;
      background-size: cover;
      background-color:black;
      padding:35px;

}
h1 {
  color: white;
    text-align: center;
  border: none;
  font-size: 50px;
  margin-top: 30px;
}
.wb-tabs.carousel-s2 [role=tablist]>li.nxt a,
.wb-tabs.carousel-s2 [role=tablist]>li.plypause a,
.wb-tabs.carousel-s2 [role=tablist]>li.prv a {
    color: black;
}
.wb-tabs.carousel-s2 figcaption {
  background-color: black;
}

.wb-tabs.carousel-s2.show-thumbs [role="tablist"] li[role="presentation"] img {
  width:40px;
  opacity: .75;
}
.wb-tabs [role=tablist]>li a {
  padding: 2px;
  margin: 10px;
}
.wb-tabs.carousel-s2.show-thumbs [role="tablist"] li[role="presentation"].active a {
    opacity: 1;
    padding: 2px;
    border-color: #666;
    border-style: solid;
    border-width: 2px;
}

#education {
  min-height: 400px;
    background-image: url("../img/education/bishops-university.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: contain;
    background-color:#4F2D7F;
    padding:35px;
}

.university {
   background-color: rgba(250, 250, 250, 0.9);
}
