* {
margin:0;
padding:0;
}
html {
height:100%;
overflow-x:hidden;
margin: 0;
}
body {
height:100%;
margin: 0;
}

#jacob{
 background-color: indigo;
 position: fixed;
 bottom: 100px;
 width: 16%;
 max-width: 200px;
}

nav {
position:fixed;
bottom:0;
width:100%;
height:100px;
line-height:40px;
text-align:center;
background:#ccc;
}
nav ul {
width:100%;
min-height:100%;
}
nav ul li {
display:inline;
margin:0 50px;
}

#wrapper {
height:100%;
min-height:100%;
width:600%;
overflow:hidden;
}

#splash, #education, #art, #experience, #projects, #summary {
height:100%;
min-height:100%;
width:16.66666667%;
float:left;
}
#splash {
  background-color: green;
}
#education {
  background-color: purple;

}
#art {
  background-color: blue;

}
#experience {
  background-color: red;

}
#projects{
  background-color: yellow;

}
#summary {
  background-color: pink;

}
p {
margin:50px;
text-align:center;
}

