html, body{
  height:100%;
}
header nav {
  margin-top:-50px;
  width:100%;
}
header nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:0px;
}
#wb-sm {
  background: #3E9900;
  background-color:rgb(62, 153, 0);
}

.wb-tabs.carousel-s2 {
    background: green;
}
.wb-tabs.carousel-s2.show-thumbs [role="tablist"] li[role="presentation"] img {
  width:40px;
  opacity: .75;
}

.wb-tabs.carousel-s2.show-thumbs [role="tablist"] li[role="presentation"].active a {
    opacity: 1;
    border-color: #666;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 1px;
}
